/* ================================
   NAVBAR
================================ */

.navbar {
    width: 100%;
    height: 72px;
    background: #132027;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
}


/* ================================
   LOGO
================================ */

.logo {
    display: flex;
    align-items: center;
    gap: 20px;

    text-decoration: none;
}

.logo-icon {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 700;
    font-style: italic;

    color: #168cf4;
}

.logo-name {
    font-size: 30px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: #168cf4;
}


/* ================================
   MOBILE BUTTON
================================ */

.navbar-toggler {
    display: none;

    border: 1px solid #168cf4;
    padding: 7px 10px;
    border-radius: 6px;

    background: transparent;

    cursor: pointer;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.navbar-toggler-icon {
    filter: invert(1);
}


/* ================================
   NAVBAR MENU
================================ */

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 100px;
}


/* ================================
   NAV LINKS
================================ */

.nav-links {
    display: flex;
    align-items: center;
    gap: 34px;
}

.nav-links a {
    position: relative;

    text-decoration: none;

    font-size: 17px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(245, 245, 245, 0.93);

    padding: 27px 0;

    transition: all 0.3s ease;
}

.nav-links a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 0;
    height: 2px;

    background: linear-gradient(90deg,
            #1599ff,
            #6947f5);

    border-radius: 10px;

    transition: width 0.4s ease;
}

.nav-links a:hover {
    color: #168cf4;
}

.nav-links a:hover::after {
    width: 100%;
}


/* ================================
   RESUME BUTTON
================================ */

.resume-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;

    text-decoration: none;

    padding: 9px 16px;

    border: 1px solid #5baeff;
    border-radius: 22px;

    color: #183b75;

    font-size: 11px;
    font-weight: 600;


    background: linear-gradient(90deg,
            #1599ff,
            #7045f6);

    transition: all 0.3s ease;
}

.resume-btn svg {
    font-size: 10px;
}

.resume-btn:hover {
    color: black;

    border-color: transparent;

    background: #ffffff;

    box-shadow: 0 7px 20px rgba(44, 132, 245, 0.25);

    transform: translateY(-2px);
}


/* ================================
   TABLET
================================ */

@media (max-width: 900px) {

    .navbar-container {
        padding: 0 20px;
    }

    .navbar-menu {
        gap: 18px;
    }

    .nav-links {
        gap: 18px;
    }

    .nav-links a {
        font-size: 12px;
    }

    .resume-btn {
        padding: 8px 12px;
        font-size: 10px;
    }
}


/* ================================
   MOBILE
================================ */

@media (max-width: 700px) {

    .navbar {
        height: auto;
    }

    .navbar-container {
        min-height: 70px;
        flex-wrap: wrap;
        gap: 15px;

        padding: 12px 18px;
    }

    /* Hamburger visible */
    .navbar-toggler {
        display: block;
    }

    /* Mobile Menu */
    .navbar-menu {
        width: 100%;
        order: 3;

        flex-direction: column;
        align-items: center;

        gap: 15px;

        display: none;
    }

    /* Menu Open */
    .navbar-menu.menu-open {
        display: flex;
    }

    .nav-links {
        order: 3;

        width: 100%;

        justify-content: center;

        gap: 20px;

        overflow-x: auto;
    }

    .nav-links a {
        padding: 8px 0;

        white-space: nowrap;

        font-size: 11px;
    }

    .nav-links a.active::after {
        bottom: 0;
    }

    .logo-name {
        font-size: 15px;
    }

    .resume-btn {
        font-size: 10px;
        padding: 8px 12px;
    }
}


/* ================================
   SMALL MOBILE
================================ */

@media (max-width: 450px) {

    .navbar-container {
        padding: 10px 14px;
    }

    .nav-links {
        gap: 15px;
    }

    .nav-links a {
        font-size: 10px;
    }

    .resume-btn {
        padding: 7px 9px;
    }

    .resume-btn svg {
        display: none;
    }
}